{% extends '::basebackend.html.twig' %}
{% block body %}
    <div class="col-md-9 col-sm-9">
        <h1>Edit account</h1>
        <div class="content-form-page">
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    {{ form_start(form,{'attr':{'class':'form-horizontal', 'novalidate':'novalidate'}}) }}
                    {#<form class="form-horizontal" role="form" method="post" novalidate="novalidate">#}
                    <fieldset>
                        <legend>Your personal details</legend>
                        <div class="form-group">
                            {{ form_label(form.firstname) }}
                            {#<label for="firstname" class="col-lg-4 control-label">First Name <span class="require">*</span></label>#}
                            <div class="col-lg-8">
                                {{ form_widget(form.firstname) }}
                                {#<input type="text" class="form-control" id="firstname">#}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.lastname) }}
                            {#<label for="lastname" class="col-lg-4 control-label">Last Name <span class="require">*</span></label>#}
                            <div class="col-lg-8">
                                {{ form_widget(form.lastname) }}
                                {#<input type="text" class="form-control" id="lastname">#}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {#<label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>#}
                            <div class="col-lg-8">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                    </fieldset>
                        <div class="row">
                            <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                                <button class="btn btn-primary" type="submit" style="color: #f5f5f5">SAVE</button>
                                <a  href="javascript:history.go(-1)" data-rel="back" class="btn btn-primary" style="color: #f5f5f5">CANCEL</a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}